.input_container {
    margin: 0 auto;
    max-width: 829px;
    display: flex;
    gap: 12px;
  }
  .input {
    max-width: 327px;
  }
  .buttons_container {
    display: flex;
    width: 440px;
    justify-content: start;
    gap: 12px;
  }
  
  .clear {
    margin-left: 68px;
  }
  
  .circle_container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-left: 0;
    list-style-type: none;
    gap: 16px;
  }