.input_container {
    margin: 0 auto;
    max-width: 522px;
    display: flex;
    gap: 12px;
  }

  .circle_container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-left: 0;
    list-style-type: none;
    gap: 48px 16px;
    max-width: 944px;
    flex-wrap: wrap;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
   
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
  }