.input_container {
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.radio_container {
    max-width: 221px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.buttons_container{
    margin-left: 52px;
    display: flex;
    width: 707px;
    justify-content: space-between;
    gap: 80px;
}

.buttons_direction {
    width: 422px;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 205px;
}

.column_container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: end;
    gap: 10px;
    padding-top: 48px;
}